* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 30px;
}

header {
  text-align: center;
  color: #ffffff;
  text-shadow: 1px -1px 0px #0A0E33;
}

body {
  font-family: Montserrat;
  font-weight: 500;
  background: #0A0E33;
}

h1, h2, h3, h4 {
  font-family: Anton;
  color: #FFFFFF;
  text-shadow: 1px -1px 0px #0A0E33;
  font-weight: 400;
}

h2 {
  font-size: 24px;
  margin-bottom: 0px;
  margin-top: 0px;
}

h3 {
  font-size: 32px;
  margin-top: 5px;
  margin-bottom: 5px;
}

h4 {
  background: #FF8601;
  border-radius: 5px;
  border: 1px solid #FFFFFF;
  text-indent: 100px;
  padding: 5px;
  margin-top: 40px;
}

p {
  padding: 10px;
}

.note {
  font-style: italic;
}

.tip {
  background: #0BBAF8;
}

.tip-info {
  padding-left: 85px;
}

#navigation li {
  font-size: 24px;
  gap: 5px;
  padding: 5px;
  text-align: center;
}

.sidebar ul {
  font-family: Anton;
  padding-left: 0px;
  margin-left: 0px;
  list-style: none;
  position: sticky;
  top: 1rem;
}

li {
  list-style: none;
  font-family: "Anton";
  font-size: 24px;
  color: #FFFFFF;
  text-shadow: 1px -1px 0px #0A0E33;
}

.container {
  display: flex;

}

.sidebar {
  width: 300px;
  padding-top: 30px;
  flex-shrink: 0;
  background: #0BBAF8;
  position: sticky;
  z-index: 2;
  mask: conic-gradient(from -135deg at right,#0000,#000 1deg 89deg,#0000 90deg) 50%/100% 30px
}

a {
  text-decoration: none;
}

.text-box {
  background: #F0DA85;
  border: 5px solid #FF8601;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 50px;
     max-width: 1000px;
}

a:link {
  color: #0A0E33;
  text-shadow: 1px -1px 0px #A9FFFF;
}

a:visited {
  color: #0A0E33;
  text-shadow: 1px -1px 0px #A9FFFF;
}

a:hover {
  color: #FFFFFF;
  text-shadow: 1px -1px 0px #0A0E33;
}

.content {
  margin: 30px;
  margin-left: auto;
  margin-right: auto;
}

.deco {
  position: relative;
  pointer-events: none;
}

.deco img {
  position: absolute;
  width: 125px;
  height: auto;
  z-index: -1;
  inset-inline-start: 50px;
  inset-block-start: -15px;
}

#deco-0 img {
  inset-inline-start: 115px;
}

#deco-1 img {
  inset-inline-start: 125px;
}

#deco-2 img {
  inset-inline-start: 110px;
}

#deco-4 img {
  inset-inline-start: 95px;
}

#deco-5 img {
  inset-inline-start: 110px;
}

.chao {
  position: relative;
  pointer-events: none;
}

.chao img {
  width: auto;
  height: 90px;
  position: absolute;
  inset-block-start: -70px;
}

.drive-types {
  margin-left: 20%;
  margin-right: 20%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: #FF8601;
  border-radius: 10px;
  border: 2px solid #FFFFFF;
  max-width: 800px;
}

.drive-types img {
  padding: 10px;
}

.full-img {
  display: block;
  margin: 20px auto;
  border: 3px solid #FF8601;
  border-radius: 10px;
}

header {
  background-image: url('../images/sa2_header.png');
  max-width: 100%;
  height: auto;
  background-position: center;
  padding-top: 40px;
  background-repeat: no-repeat;
}

.difficulty li {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  text-shadow: none;
  color: #000000;
  list-style: disc;
  padding-left: 10%;
  list-style-position: inside;
}

button {
  background: linear-gradient(to right, #0BBAF8, #181F6E);
  width: 200px;
  height: 50px;
  font-family: Anton;
  color: #0A0E33;
  text-shadow: 1px -1px 0px #A9FFFF80;
  font-size: 24px;
  border: 2px solid #A9FFFF80;
}

button:hover {
   color: #FFFFFF;
  text-shadow: 1px -1px 0px #0A0E33;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
}

footer {
  text-align: center;
  color: #FFFFFF;
}

@media screen and (max-width: 800px) {
  .sidebar {
    position: fixed;
    padding-top: 0px;
    top: 0;
    width: 100%;
    mask: conic-gradient(from -45deg at bottom,#0000,#000 1deg 89deg,#0000 90deg) 50%/30px 100%;
  }
  #navigation {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    margin: 10px;
    min-width: 400px;
    margin-bottom: 30px;
  }
  #navigation li {
     font-size: 20px;
  }
  header {
    padding-top: 150px;
  }
  #logo {
    max-width: 250px;
    height: auto;
  }
  html {
    scroll-padding-top: 140px;
  }
  .drive-types {
    grid-template-columns: 1fr;
  }
}
